<!DOCTYPE html>
<html>

  <head>
    <title>Quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenidos a la práctica 8</h1>
  <p>Web que muestra los quizzes almacenados en una BBDD</p>
  </body>

</html>
